*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "open sans", sans-serif;
  font-size: 16px;
}
.table-conatinet-data {
  padding: 3%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #D8D9CF;
  padding: 1%;
}
.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D8D9CF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.close-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #D8D9CF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 32px;
  margin-left: 50px;
  cursor: pointer;
}

.hedaer {
  padding: 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.header-btn {
  display: flex;
  width: 600px;
  padding: 2%;
  justify-content: space-around;
  gap:1rem;
  flex-wrap: wrap;
}
.hd-btn{
  background-color: green;
  padding: 0%;
  width: 150px;
  padding: 1.5%;
  border-radius: 7px;
  color: white;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

thead button.ascending::after {
  content: "👇";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "☝️";
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

/* tbody tr:hover {
  background-color: #eee;
} */

/* thead button.ascending::after {
  content: "👇";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "☝️";
  display: inline-block;
  margin-left: 1em;
} */
